
    <div class="text-center">
      <%= image_tag user.avatar.url, class: 'rounded-circle', size: '30x30' %><br>
      <%= display_name(user) %><br>
      <%= "#{user.calculate_pocket_money_of_last_month}円" %>
    </div>

