<div class="container-fluid">
  <div class="center-block">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>通知</th>
      </tr>
      </thead>
      <tbody>
        <div class="d-flex" id="notices">
          <%= render @notices %>
        </div>
      </tbody>
    </table>
  </div>
</div>
