<!--<% content_for(:title, 'タスク管理') %>
<div class="container-fluid">
  <div class="center-block bg-light py-2">
    <div class="text-center">
      <h1>タスク管理</h1>
    </div>
    <div class="center-block">-->
      <%= render 'modal', title: '編集' do %>
        <%= render partial: 'edit_form', locals: { task: @task, categories: @categories, category: @category } %>
      <% end %>
    <!--</div>
  </div>
</div>-->