<% content_for(:title, 'タスク管理') %>
<div class="container-fluid">
  <div class="center-block bg-light py-2">
    <div class="text-center">
      <h1>タスク管理</h1>
    </div>
    <div class="center-block">
      <%= form_with model: @task, url: family_task_path do |f| %>
        <%= render partial: 'edit_form', locals: { task: @task, categories: @categories, f: f } %>
      <% end %>
    </div>
  </div>
</div>