<div class="container-fluid">
  <div class="center-block">
    <div class="text-center">
      <h1>タスク内容の変更</h1>
    </div>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>タスク名</th><th>pt</th>
      </tr>
    </thead>
    <tbody>
    <%= render @tasks %>
    </tbody>
  </table>
</div>