<div class="container-fluid">
  <div class="center-block">
    <div class="text-center">
      <h1>登録</h1>
    </div>
  </div>
  <div class="center-block">
    <div class="col-8 offset-2">
      <ul>
      <li><%= link_to '新しいタスクの登録', new_family_task_path %></li>
      <li><%= link_to '個別タスクの登録(未実装)', new_family_task_path %></li>
      <li><%= link_to 'ルーティンタスクの登録(未実装)', new_family_task_path %></li>
      <li><%= link_to 'ルーティンタスクの解除(未実装)', new_family_task_path %></li>
      </ul>
    </div>
  </div>
</div>
