<% content_for(:title, '招待') %>
<div class="container-fluid">
  <div class="center-block">
    <div class="text-center">
    <h1>家族の招待</h1>
    </div>
    <div class="col-8 offset-2">
      <p>下記の招待コードを招待したい家族に共有してください。</p>
      <p><%= @invitation_code %></p>
    </div>
  </div>
</div>
