<!--<div class="btn-line-wrapper center-block text-center my-2">-->
  <div class="btn-line btn-line-base"></div>
  <div class="btn-line btn-line-hover-press"></div>
  <%= image_tag "line_96.png", height: '40', width: '40', class: 'line-icon' %>
  <div class="line-border"></div>
  <div class="line-text" id="line-text"><%= content %></div>
<!--</div>-->
