
  <tr>
    <div class="center-block">
      <td><%= link_to (task.user.nickname.present? ? task.user.nickname : task.user.name), family_record_path(task.user.family, task), class: "text-decoration-none link-dark wide-link" %></td>
      <td><%= link_to (task.count >= 2 ? "#{task.task.title} x #{task.count}" : task.task.title), family_record_path(task.user.family, task), class: "text-decoration-none link-dark wide-link" %></td>
      <td><%= link_to task.task.points * task.count.to_i, family_record_path(task.user.family, task), class: "text-decoration-none link-dark wide-link" %></td>
      <td><%= link_to l(task.created_at, format: :short), family_record_path(task.user.family, task), class: "text-decoration-none link-dark wide-link" %></td>
    </div>
  </tr>
