<div class="container-fluid">
  <div class="center-block">
    <div class="text-center bg-light py-1 rounded"><h1>記録</h1></div>
    <div class="row mx-auto border-top">
      <div class="col-1 bg-light py-2 mx-auto"></div>
      <div class="col-11 bg-light py-2 mx-auto"><strong>カテゴリ名</strong></div>
    </div>
      <% @categories.each do |category| %>
        <%= render partial: 'category_for_record', locals: { category: category } %>
      <% end %>
      
  </div>
  <div>　</div>
</div>
