<div class="container-fluid">
  <div class="center-block">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>カテゴリ名</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <%= render partial: 'category_for_record', locals: { category: category } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
