<div class="container-fluid">
  <div class="center-block">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>タスク名</th>
          <th>pt</th>
        </tr>
      </thead>
      <tbody>
      <!--task_show_family_record_pathに遷移先のtask.idを渡したいがうまくいかねぇからN+1問題無視するぜ-->
      <% @tasks.each do |task| %>
            <tr data-controller="href" data-action="click->href#toHref" data-href="<%= task_show_family_record_path(@family, task.id) %>" tabindex="0" role="link">
              <td>
                <%= link_to task.title, task_show_family_record_path(@family, task.id), class: "text-decoration-none link-dark" %>
              </td>
              <td>
                <%= task.points %>
              </td>
            </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
