<div class="container-fluid">
  <div class="center-block">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>タスク名</th>
          <th>pt</th>
        </tr>
      </thead>
      <tbody>
      <!--task_show_family_record_pathに遷移先のtask.idを渡したいがうまくいかねぇからN+1問題無視するぜ-->
      <% @tasks.each do |task| %>
        <%= link_to task_show_family_record_path(@family, task.id) do %>
            <tr>
              <td>
                <%= task.title %>
              </td>
              <td>
                <%= task.points %>
              </td>
            </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
