<%= turbo_frame_tag category do %>
  <%= link_to family_task_path(family, task), class: "text-decoration-none text-body" do %>
    <div class="row bg-secondary-subtle py-2 my-2 mx-auto rounded">
      <div class="col-1">▶︎</div>
      <div class="col-8 d-flex align-items-center">
        <%= task.title %>
      </div>
      <div class="col-3 d-flex align-items-center">
        <%= task.points %>
      </div>
    </div>
  <% end %>
<% end %>