<div class="container-fluid">
  <div class="center-block">
    <div class="text-center">
      <h1>カテゴリ一覧</h1>
    </div>
  </div>
  <div class="center-block">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>カテゴリ名</th>
        <th></th>
      </tr>
      <div class="float-end"><%= link_to '新規作成', new_family_category_path, class: 'btn btn-primary' %></div>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>
  </div>
</div>