<!--そのカテゴリに属するタスク一覧のページだよ。タスク管理画面へ飛ぶよ-->
<div class="container-fluid">
  <div class="center-block bg-light py-2">
    <div class="text-center">
      <h1><%= "【#{@category.name}】のタスク一覧" %></h1>
    </div>
  </div>
  <div class="center-block">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>タスク名</th>
        <th>pt</th>
      </tr>
      </thead>
      <tbody>
        <%= render partial: 'task', collection: @tasks, locals: { family: @family, category: @category } %>
      </tbody>
    </table>
  </div>
</div>